:root {
  --black: #000000;
  --white-0: #ffffff00;
  --white-50: #ffffff3a;
  --white: #fff;
  --green: #d4e1cc;
  --purple-0: #5452cc00;
  --purple-25: #5452cc00;
  --purple-30: #5452cc32;
  --purple-50: #5452cc45;
  --purple-75: #5452ccd1;
  --purple: #5552cc;
  --lightblue-0: #95caea00;
  --lightblue-50: #95caea75;
  --lightblue-75: #95caeac9;
  --lightblue: #95c9ea;
  --lightblue-dark: rgb(132, 160, 178);
  --lightblue-dark-2: rgb(191, 205, 214);
  --lightblue-2: #b0dbf6;
  --lightblue-4: #c6e9ff;
  --lightblue-3: #f2faff;
  --acqua: #01a0ac;

  /* ---------- Scale Colors --------- */

  --s-red: #ff6b6b;
  --s-blue: #45b7d1;
  --s-green: #33aa80;
  --s-purple: #bb8fce;
  --s-yellow: #f6df86;
  --s-orange: #ffb236;
  --s-lightgreen: #82e0aa;

  /* ---------- Shadows --------- */

  --shadow-inner: var(--purple-0);
  --shadow-mid: var(--purple-25);
  --shadow-outer: var(--purple-50);

  /* ---------- Spacing --------- */

  --background: var(--lightblue);
  --background-0: var(--lightblue-0);
  --background-50: var(--lightblue-50);
  --gradient-extreme: var(--white-50);

  --rounded-base: 20px;
  --rounded-xl: 40px;

  --spacing: 0.7rem;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("./fonts/HostGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: "DM Sans", "Host Grotesk", Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--black);
  min-height: 100svh;

  margin: 0 auto;
  max-width: 1440px;
  /* padding: var(--spacing); */

  display: flex;
  flex-direction: column;
  max-width: 100svw;
  max-height: 100svh;
  overflow: hidden;
  font-size: 0.8rem;
  /* gap: var(--spacing); */

  touch-action: manipulation;
  overscroll-behavior: contain;

  position: relative;
}

h1,
h2 {
  font-family: "Host Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
}
h1 {
  font-family: "Host Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: var(--spacing);
}

h2 {
  text-transform: uppercase;
}

p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 100%;
  height: 100%;
  /* padding: var(--spacing); */
  flex: 1;
  position: relative;
}

#badge-visualization {
  overflow: visible;
  opacity: 1;
}

#badge-visualization #main {
  /* transition: all 200ms ease-out; */
}
#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  /* max-width: 33%; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

form,
.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

#name.cta {
  text-align: center;
  color: var(--lightblue-dark);
}

input {
  /* font-family: "DM Sans"; */
  transition: outline, background-color 200ms ease-in-out;
  background-color: var(--white);
  outline: 1px solid var(--lightblue-dark);
  border: 0px;
  border-radius: 10px;
  padding: var(--spacing);
}

input::placeholder {
  font-family: "DM Sans";

  color: var(--lightblue-dark);
}

input:focus {
  outline: 2px solid var(--purple);
  background-color: var(--white);
}

input.wrong {
  outline: 2px solid rgb(238, 130, 130);
  animation: shake 0.5s;
}
input:focus.wrong {
  outline: 2px solid rgb(238, 130, 130);
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
input:focus {
  outline: 2px solid var(--purple);
}

#mail-input {
  transition: all 500ms ease-out;
}
#mail-input.hidden {
  height: 0;
  width: 0;
  opacity: 0;
  display: none;
}

button {
  transition: background-color 200ms ease-in-out;

  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 0px;
  background-color: var(--purple);
  color: var(--white);
  cursor: pointer;
}
button:hover {
  border-radius: 10px;
  border: 0px;
  background-color: var(--purple-75);
  color: var(--white);
}

#breadcrumbs {
  display: none;
}

footer {
  width: calc(100vw - 2 * var(--spacing));
  display: flex;
  place-content: space-between;

  z-index: 3;
}

.node {
  opacity: 0;
  stroke-width: 1px;
  fill: var(--white);
  stroke: var(--purple);
}

.node:hover {
  r: 10px;
}

.petal-values-group {
  pointer-events: none;
}

.petal-label,
.node-label {
  transition: opacity 300ms ease-out;
  fill: #5552cc;
  opacity: 0;
  font-size: 5px;
}
.modal-wrapper {
  position: absolute;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  max-width: 700px;

  transition: all 800ms ease-out;
  margin: var(--spacing);

  z-index: 2;
}

.modal-item {
  transition: all 800ms ease-out;

  display: flex;
  width: calc(100vw - var(--spacing) * 4);
  max-width: 700px;
  padding: var(--spacing);
  background-color: var(--white);
  border-radius: var(--rounded-base);
}

.modal-item.vertical {
  flex-direction: column;
  gap: 1rem;
}

.modal {
  position: absolute;
  left: 0;

  display: flex;
  width: calc(100vw - var(--spacing) * 4);
  max-width: 700px;
  padding: var(--spacing);
  background-color: var(--white);
  border-radius: var(--rounded-base);

  transition: all 800ms ease-out;
  margin: var(--spacing);

  z-index: 2;
}

.modal-wrapper.top {
  top: 0;
}

.modal-wrapper-wrapper.top.out {
  top: 0;
}
.modal-wrapper.top.out {
  top: var(--spacing);
}
/* .modal-wrapper.top.out {
  top: -9rem;
} */
.modal-wrapper.bottom {
  bottom: 0rem;
}

/* .modal-wrapper.bottom.out {
  bottom: -7rem;
} */

.modal-wrapper.legend {
  top: 20rem;
}

#reload-modal {
  opacity: 0;
}

.link {
  stroke: var(--white);
  pointer-events: none;
  stroke-linecap: round;
  /* opacity: 0.5; */

  /* stroke-dasharray: 1px 1px; */
  /* stroke-dashoffset: 0px; */
  /* transition: all 1000ms ease-out; */

  /* stroke-width: 1px; */
  /* stroke: #000000; */
}

.circle {
  /* stroke: var(--purple); */
  /* filter: blur(15px); */
}

.leaf {
  transition: all 300ms ease-out;
  fill: var(--background);
  -webkit-filter: drop-shadow(0px 0px 5px var(--purple-50));
  filter: drop-shadow(0px 0px 5px var(--purple-50));
  cursor: pointer;
}

.leaf-1 {
  -webkit-filter: drop-shadow(0px 0px 5px var(--purple-50));
  filter: drop-shadow(0px 0px 5px var(--purple-50));
}
.leaf-2 {
  fill: var(--lightblue-2);
}
.leaf-2:hover {
  fill: var(--background);
}

.logo {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}
.logo a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.logo .spaced {
  letter-spacing: 1px;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.legend-row {
  width: 100%;
  display: flex;
}

.legend-row.shapes {
  gap: 1rem;
}
.legend-row.colors {
  flex-wrap: wrap;
  gap: 0.25rem;
}

.legend-element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color-element {
  padding: 0.25rem 0.3rem;
  border-radius: 10px;
}

.interest-square {
  transform-origin: center;
  transform-box: fill-box;
  transform: rotate(45deg);
}

.circles {
  pointer-events: none;
}

.hex {
  fill: url(#grad3);
}

.lollipop-line {
  stroke: var(--black);
  stroke-linecap: round;
}

#breadcrumbs .label {
  display: block;
  font-size: var(--spacing);
  color: var(--lightblue-dark);
}
#breadcrumbs .value {
  /* display: block; */
  font-size: 0.8rem;
}

#breadcrumbs .count {
  color: var(--lightblue-dark-2);
  font-size: 0.8rem;
}
#modal-wrapper-full-page {
  position: absolute;
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-50);

  z-index: 10;
}

#intro-modal {
  max-width: 300px;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#intro-modal p {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  padding: 2rem 1rem;
}

#intro-modal .buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
}
#intro-modal .buttons .outlined {
  background-color: var(--white);
  color: var(--purple);
  outline: 1px solid var(--purple);
}
#intro-modal .buttons .outlined:hover {
  background-color: var(--purple-50);
}

#intro-modal .buttons a {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  main {
    flex-direction: row;
  }

  .content-wrapper {
    max-width: 33%;
  }
  .modal-item {
    max-width: 500px;
  }
}
