:root {
  --black: #000000;
  --white-0: #ffffff00;
  --white-50: #ffffff3a;
  --white: #fff;
  --green: #d4e1cc;
  --purple-0: #5452cc00;
  --purple-25: #5452cc00;
  --purple-30: #5452cc32;
  --purple-50: #5452cc45;
  --purple: #5552cc;
  --lightblue-0: #95caea00;
  --lightblue-50: #95caea75;
  --lightblue: #95c9ea;
  --lightblue-2: #b0dbf6;
  --acqua: #01a0ac;

  --shadow-inner: var(--purple-0);
  --shadow-mid: var(--purple-25);
  --shadow-outer: var(--purple-50);

  --background: var(--lightblue);
  --background-0: var(--lightblue-0);
  --background-50: var(--lightblue-50);
  --gradient-extreme: var(--white-50);

  --rounded-base: 20px;
  --rounded-xl: 40px;

  --spacing: 0.7rem;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("./fonts/HostGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: "DM Sans", "Host Grotesk", Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--black);
  min-height: 100svh;

  margin: 0 auto;
  max-width: 1440px;
  /* padding: var(--spacing); */

  display: flex;
  flex-direction: column;
  max-width: 100svw;
  max-height: 100svh;
  overflow: hidden;
  font-size: 0.8rem;
  /* gap: var(--spacing); */
}

h1,
h2 {
  font-family: "Host Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
}
h1 {
  font-family: "Host Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: var(--spacing);
}

h2 {
  text-transform: uppercase;
}

p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 100%;
  height: 100%;
  /* padding: var(--spacing); */
  flex: 1;
  position: relative;
}

svg {
  /* background-color: var(--acqua); */
  /* width: 100%; */
  /* width: 100%;
  height: 100%; */
  /* border-radius: var(--rounded-xl); */
  /* border: 1px solid var(--acqua); */
}

#badge-visualization {
  /* position: absolute; */
  opacity: 1;
}

#badge-visualization #main {
  transition: all 200ms ease-out;
}
#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  /* max-width: 33%; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

form,
.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

input {
  /* font-family: "DM Sans"; */
  transition: outline, background-color 200ms ease-in-out;
  background-color: var(--background);
  outline: 1px solid var(--purple);
  border: 0px;
  border-radius: 10px;
  padding: var(--spacing);
}

input::placeholder {
  font-family: "DM Sans";

  color: var(--black);
}

input:focus {
  outline: 3px solid var(--purple);
  background-color: var(--acqua);
}

#mail-input {
  transition: all 500ms ease-out;
}
#mail-input.hidden {
  height: 0;
  width: 0;
  opacity: 0;
  display: none;
}

button {
  transition: background-color, padding 200ms ease-in-out;

  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 0px;
  background-color: var(--purple);
  color: var(--white);
  cursor: pointer;
}
button:hover {
  padding: var(--spacing);
  border-radius: 10px;
  border: 0px;
  background-color: var(--acqua);
  color: var(--white);
}

footer {
  width: 100%;
  display: flex;
  place-content: space-between;

  pointer-events: none;

  z-index: 3;
}

.node {
  opacity: 0;
  stroke-width: 1px;
  fill: var(--white);
  stroke: var(--purple);
  /* stroke: aqua; */
}

.node:hover {
  r: 10px;
}

.petal-label,
.node-label {
  /* fill: var(--white); */
  fill: #5552cc;
  /* transform-origin: 0 0;
  transform-box: fill-box; */
  opacity: 0;
  font-size: 5px;
}
.modal-wrapper {
  position: absolute;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  max-width: 700px;

  transition: all 800ms ease-out;
  margin: var(--spacing);

  z-index: 2;
}

.modal-item {
  transition: all 800ms ease-out;

  display: flex;
  width: calc(100vw - var(--spacing) * 4);
  max-width: 700px;
  padding: var(--spacing);
  background-color: var(--white);
  border-radius: var(--rounded-base);
}

.modal-item.vertical {
  flex-direction: column;
  gap: var(--spacing);
}

.modal {
  position: absolute;
  left: 0;

  display: flex;
  width: calc(100vw - var(--spacing) * 4);
  max-width: 700px;
  padding: var(--spacing);
  background-color: var(--white);
  border-radius: var(--rounded-base);

  transition: all 800ms ease-out;
  margin: var(--spacing);

  z-index: 2;
}

.modal-wrapper.top {
  top: 0;
}

.modal-wrapper-wrapper.top.out {
  top: 0;
}
.modal-wrapper.top.out {
  top: var(--spacing);
}
/* .modal-wrapper.top.out {
  top: -9rem;
} */
.modal-wrapper.bottom {
  bottom: 0rem;
}

/* .modal-wrapper.bottom.out {
  bottom: -7rem;
} */

.modal-wrapper.legend {
  top: 20rem;
}

#reload-modal {
  opacity: 0;
}

.link {
  stroke: var(--white);
  /* opacity: 0.5; */

  /* stroke-dasharray: 1px 1px; */
  /* stroke-dashoffset: 0px; */
  /* transition: all 1000ms ease-out; */

  /* stroke-width: 1px; */
  /* stroke: #000000; */
}

.circle {
  /* stroke: var(--purple); */
  /* filter: blur(15px); */
}

.leaf {
  fill: var(--background);
  -webkit-filter: drop-shadow(0px 0px 5px var(--purple-50));
  filter: drop-shadow(0px 0px 5px var(--purple-50));
}
.leaf-1 {
  -webkit-filter: drop-shadow(0px 0px 5px var(--purple-50));
  filter: drop-shadow(0px 0px 5px var(--purple-50));
}
.leaf-2 {
  fill: var(--lightblue-2);
}

.logo {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}

.logo .spaced {
  letter-spacing: 1px;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.legend-row {
  width: 100%;
  display: flex;
}

.legend-row.shapes {
  gap: 1rem;
}
.legend-row.colors {
  flex-wrap: wrap;
  gap: 0.25rem;
}

.legend-element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color-element {
  padding: 0.25rem 0.3rem;
  border-radius: 10px;
}

.interest-square {
  transform-origin: center;
  transform-box: fill-box;
  transform: rotate(45deg);
}

.circles {
  pointer-events: none;
}

@media only screen and (min-width: 1000px) {
  main {
    flex-direction: row;
  }

  .content-wrapper {
    max-width: 33%;
  }
}
